<template name="cards">

    <h1>Playing Cards</h1>

    <h2>Clubs</h2>
    <div class="clearfix">
        {{> card-clubs-2 }}
        {{> card-clubs-3 }}
        {{> card-clubs-4 }}
        {{> card-clubs-5 }}
        {{> card-clubs-6 }}
        {{> card-clubs-7 }}
        {{> card-clubs-8 }}
        {{> card-clubs-9 }}
        {{> card-clubs-10 }}
        {{> card-clubs-jack }}
        {{> card-clubs-queen }}
        {{> card-clubs-king }}
        {{> card-clubs-1 }}
    </div>


    <h2>Diamonds</h2>
    <div class="clearfix">
        {{> card-diamonds-2 }}
        {{> card-diamonds-3 }}
        {{> card-diamonds-4 }}
        {{> card-diamonds-5 }}
        {{> card-diamonds-6 }}
        {{> card-diamonds-7 }}
        {{> card-diamonds-8 }}
        {{> card-diamonds-9 }}
        {{> card-diamonds-10 }}
        {{> card-diamonds-jack }}
        {{> card-diamonds-queen }}
        {{> card-diamonds-king }}
        {{> card-diamonds-1 }}
    </div>

    <h2>Spades</h2>
    <div class="clearfix">
        {{> card-spades-2 }}
        {{> card-spades-3 }}
        {{> card-spades-4 }}
        {{> card-spades-5 }}
        {{> card-spades-6 }}
        {{> card-spades-7 }}
        {{> card-spades-8 }}
        {{> card-spades-9 }}
        {{> card-spades-10 }}
        {{> card-spades-jack }}
        {{> card-spades-queen }}
        {{> card-spades-king }}
        {{> card-spades-1 }}
    </div>

    <h2>Hearts</h2>
    <div class="clearfix">
        {{> card-hearts-2 }}
        {{> card-hearts-3 }}
        {{> card-hearts-4 }}
        {{> card-hearts-5 }}
        {{> card-hearts-6 }}
        {{> card-hearts-7 }}
        {{> card-hearts-8 }}
        {{> card-hearts-9 }}
        {{> card-hearts-10 }}
        {{> card-hearts-jack }}
        {{> card-hearts-queen }}
        {{> card-hearts-king }}
        {{> card-hearts-1 }}
    </div>
</template>