<template name="card-clubs-2">
    <div class="card two" data-suit="clubs" data-value="2" data-id="{{ id }}">
        <div class="front">
            <div class="corner top">
                <span class="number">2</span>
                <span>♣</span>
            </div>

            <span class="suit top_center">♣</span>
            <span class="suit bottom_center">♣</span>

            <div class="corner bottom">
                <span class="number">2</span>
                <span>♣</span>
            </div>
        </div>

        <div class="back">

        </div>

        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}

    </div>
</template>

<template name="card-clubs-3">
    <div class="card three" data-suit="clubs" data-value="3" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">3</span>
            <span>♣</span>
        </div>

        <span class="suit top_center">♣</span>
        <span class="suit middle_center">♣</span>
        <span class="suit bottom_center">♣</span>

        <div class="corner bottom">
            <span class="number">3</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
        <div class="card-modifiers">
            {{#each modifiers}}
            {{{ card }}}
            {{/each}}
        </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-4">
    <div class="card four" data-suit="clubs" data-value="4" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">4</span>
            <span>♣</span>
        </div>

        <span class="suit top_left">♣</span>
        <span class="suit top_right">♣</span>
        <span class="suit bottom_left">♣</span>
        <span class="suit bottom_right">♣</span>

        <div class="corner bottom">
            <span class="number">4</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-5">
    <div class="card five" data-suit="clubs" data-value="5" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">5</span>
            <span>♣</span>
        </div>

        <span class="suit top_left">♣</span>
        <span class="suit top_right">♣</span>
        <span class="suit middle_center">♣</span>
        <span class="suit bottom_left">♣</span>
        <span class="suit bottom_right">♣</span>

        <div class="corner bottom">
            <span class="number">5</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-6">
    <div class="card six" data-suit="clubs" data-value="6" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">6</span>
            <span>♣</span>
        </div>

        <span class="suit top_left">♣</span>
        <span class="suit top_right">♣</span>
        <span class="suit middle_left">♣</span>
        <span class="suit middle_right">♣</span>
        <span class="suit bottom_left">♣</span>
        <span class="suit bottom_right">♣</span>

        <div class="corner bottom">
            <span class="number">6</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-7">
    <div class="card seven" data-suit="clubs" data-value="7" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">7</span>
            <span>♣</span>
        </div>

        <span class="suit top_left">♣</span>
        <span class="suit top_right">♣</span>
        <span class="suit middle_left">♣</span>
        <span class="suit middle_top">♣</span>
        <span class="suit middle_right">♣</span>
        <span class="suit bottom_left">♣</span>
        <span class="suit bottom_right">♣</span>

        <div class="corner bottom">
            <span class="number">7</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-8">
    <div class="card eight" data-suit="clubs" data-value="8" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">8</span>
            <span>♣</span>
        </div>

        <span class="suit top_left">♣</span>
        <span class="suit top_right">♣</span>
        <span class="suit middle_left">♣</span>
        <span class="suit middle_top">♣</span>
        <span class="suit middle_right">♣</span>
        <span class="suit middle_bottom">♣</span>
        <span class="suit bottom_left">♣</span>
        <span class="suit bottom_right">♣</span>

        <div class="corner bottom">
            <span class="number">8</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-9">
    <div class="card nine" data-suit="clubs" data-value="9" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">9</span>
            <span>♣</span>
        </div>

        <span class="suit top_left">♣</span>
        <span class="suit top_right">♣</span>

        <span class="suit middle_top_left">♣</span>
        <span class="suit middle_center">♣</span>
        <span class="suit middle_top_right">♣</span>
        <span class="suit bottom_left">♣</span>
        <span class="suit bottom_right">♣</span>
        <span class="suit middle_bottom_left">♣</span>
        <span class="suit middle_bottom_right">♣</span>

        <div class="corner bottom">
            <span class="number">9</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-10">
    <div class="card ten" data-suit="clubs" data-value="10" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">10</span>
            <span>♣</span>
        </div>

        <span class="suit top_left">♣</span>
        <span class="suit top_right">♣</span>

        <span class="suit middle_top_left">♣</span>
        <span class="suit middle_top_center">♣</span>
        <span class="suit middle_top_right">♣</span>
        <span class="suit bottom_left">♣</span>
        <span class="suit bottom_right">♣</span>
        <span class="suit middle_bottom_center">♣</span>
        <span class="suit middle_bottom_left">♣</span>
        <span class="suit middle_bottom_right">♣</span>

        <div class="corner bottom">
            <span class="number">10</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-jack">
    <div class="card jack" data-suit="clubs" data-value="jack" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">J</span>
            <span>♣</span>
        </div>

        <span class="suit middle_center">♣</span>

        <div class="corner bottom">
            <span class="number">J</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-queen">
    <div class="card queen" data-suit="clubs" data-value="queen" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">Q</span>
            <span>♣</span>
        </div>

        <span class="suit middle_center">♣</span>

        <div class="corner bottom">
            <span class="number">Q</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-king">
    <div class="card king" data-suit="clubs" data-value="king" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">K</span>
            <span>♣</span>
        </div>

        <span class="suit middle_center">♣</span>

        <div class="corner bottom">
            <span class="number">K</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-clubs-ace">
    <div class="card ace" data-suit="clubs" data-value="ace" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">A</span>
            <span>♣</span>
        </div>

        <span class="suit middle_center">♣</span>

        <div class="corner bottom">
            <span class="number">A</span>
            <span>♣</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>