<template name="card-diamonds-2">
    <div class="card diamond two" data-suit="diamonds" data-value="2">
        <div class="corner top">
            <span class="number">2</span>
            <span>♦</span>
        </div>

        <span class="suit top_center">♦</span>
        <span class="suit bottom_center">♦</span>

        <div class="corner bottom">
            <span class="number">2</span>
            <span>♦</span>
        </div>
    </div>
</template>

<template name="card-diamonds-3">
    <div class="card diamond three" data-suit="diamonds" data-value="3">
        <div class="corner top">
            <span class="number">3</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_center">&#9830;</span>
        <span class="suit middle_center">&#9830;</span>
        <span class="suit bottom_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">3</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-4">
    <div class="card diamond four" data-suit="diamonds" data-value="4">
        <div class="corner top">
            <span class="number">4</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">4</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-5">
    <div class="card diamond five" data-suit="diamonds" data-value="5">
        <div class="corner top">
            <span class="number">5</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_center">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">5</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-6">
    <div class="card diamond six" data-suit="diamonds" data-value="6">
        <div class="corner top">
            <span class="number">6</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_left">&#9830;</span>
        <span class="suit middle_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">6</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-7">
    <div class="card diamond seven" data-suit="diamonds" data-value="7">
        <div class="corner top">
            <span class="number">7</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_left">&#9830;</span>
        <span class="suit middle_top">&#9830;</span>
        <span class="suit middle_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">7</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-8">
    <div class="card diamond eight" data-suit="diamonds" data-value="8">
        <div class="corner top">
            <span class="number">8</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_left">&#9830;</span>
        <span class="suit middle_top">&#9830;</span>
        <span class="suit middle_right">&#9830;</span>
        <span class="suit middle_bottom">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">8</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-9">
    <div class="card diamond nine" data-suit="diamonds" data-value="9">
        <div class="corner top">
            <span class="number">9</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>

        <span class="suit middle_top_left">&#9830;</span>
        <span class="suit middle_center">&#9830;</span>
        <span class="suit middle_top_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>
        <span class="suit middle_bottom_left">&#9830;</span>
        <span class="suit middle_bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">9</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-10">
    <div class="card diamond ten" data-suit="diamonds" data-value="10">
        <div class="corner top">
            <span class="number">10</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>

        <span class="suit middle_top_left">&#9830;</span>
        <span class="suit middle_top_center">&#9830;</span>
        <span class="suit middle_top_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>
        <span class="suit middle_bottom_center">&#9830;</span>
        <span class="suit middle_bottom_left">&#9830;</span>
        <span class="suit middle_bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">10</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-jack">
    <div class="card diamond jack" data-suit="diamonds" data-value="jack">
        <div class="corner top">
            <span class="number">J</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">J</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-queen">
    <div class="card diamond queen" data-suit="diamonds" data-value="queen">
        <div class="corner top">
            <span class="number">Q</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">Q</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-king">
    <div class="card diamond king" data-suit="diamonds" data-value="king">
        <div class="corner top">
            <span class="number">K</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">K</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-ace">
    <div class="card diamond ace" data-suit="diamonds" data-value="ace">
        <div class="corner top">
            <span class="number">A</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">A</span>
            <span>&#9830;</span>
        </div>
    </div>

</template>