<template name="card-diamonds-two">
    <div class="card diamond two">
        <div class="corner top">
            <span class="number">2</span>
            <span>♦</span>
        </div>

        <span class="suit top_center">♦</span>
        <span class="suit bottom_center">♦</span>

        <div class="corner bottom">
            <span class="number">2</span>
            <span>♦</span>
        </div>
    </div>
</template>

<template name="card-diamonds-three">
    <div class="card diamond three">
        <div class="corner top">
            <span class="number">3</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_center">&#9830;</span>
        <span class="suit middle_center">&#9830;</span>
        <span class="suit bottom_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">3</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-four">
    <div class="card diamond four">
        <div class="corner top">
            <span class="number">4</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">4</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-five">
    <div class="card diamond five">
        <div class="corner top">
            <span class="number">5</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_center">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">5</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-six">
    <div class="card diamond six">
        <div class="corner top">
            <span class="number">6</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_left">&#9830;</span>
        <span class="suit middle_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">6</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-seven">
    <div class="card diamond seven">
        <div class="corner top">
            <span class="number">7</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_left">&#9830;</span>
        <span class="suit middle_top">&#9830;</span>
        <span class="suit middle_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">7</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-eight">
    <div class="card diamond eight">
        <div class="corner top">
            <span class="number">8</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>
        <span class="suit middle_left">&#9830;</span>
        <span class="suit middle_top">&#9830;</span>
        <span class="suit middle_right">&#9830;</span>
        <span class="suit middle_bottom">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">8</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-nine">
    <div class="card diamond nine">
        <div class="corner top">
            <span class="number">9</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>

        <span class="suit middle_top_left">&#9830;</span>
        <span class="suit middle_center">&#9830;</span>
        <span class="suit middle_top_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>
        <span class="suit middle_bottom_left">&#9830;</span>
        <span class="suit middle_bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">9</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-ten">
    <div class="card diamond ten">
        <div class="corner top">
            <span class="number">10</span>
            <span>&#9830;</span>
        </div>

        <span class="suit top_left">&#9830;</span>
        <span class="suit top_right">&#9830;</span>

        <span class="suit middle_top_left">&#9830;</span>
        <span class="suit middle_top_center">&#9830;</span>
        <span class="suit middle_top_right">&#9830;</span>
        <span class="suit bottom_left">&#9830;</span>
        <span class="suit bottom_right">&#9830;</span>
        <span class="suit middle_bottom_center">&#9830;</span>
        <span class="suit middle_bottom_left">&#9830;</span>
        <span class="suit middle_bottom_right">&#9830;</span>

        <div class="corner bottom">
            <span class="number">10</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-jack">
    <div class="card diamond jack">
        <div class="corner top">
            <span class="number">J</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">J</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-queen">
    <div class="card diamond queen">
        <div class="corner top">
            <span class="number">Q</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">Q</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-king">
    <div class="card diamond king">
        <div class="corner top">
            <span class="number">K</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">K</span>
            <span>&#9830;</span>
        </div>
    </div>
</template>

<template name="card-diamonds-ace">
    <div class="card diamond ace">
        <div class="corner top">
            <span class="number">A</span>
            <span>&#9830;</span>
        </div>

        <span class="suit middle_center">&#9830;</span>

        <div class="corner bottom">
            <span class="number">A</span>
            <span>&#9830;</span>
        </div>
    </div>

</template>