<template name="card-hearts-two">
    <div class="card heart two">
        <div class="corner top">
            <span class="number">2</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_center">&#9829;</span>
        <span class="suit bottom_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">2</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-three">
    <div class="card heart three">
        <div class="corner top">
            <span class="number">3</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_center">&#9829;</span>
        <span class="suit middle_center">&#9829;</span>
        <span class="suit bottom_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">3</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-four">
    <div class="card heart four">
        <div class="corner top">
            <span class="number">4</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">4</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-five">
    <div class="card heart five">
        <div class="corner top">
            <span class="number">5</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_center">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">5</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-six">
    <div class="card heart six">
        <div class="corner top">
            <span class="number">6</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_left">&#9829;</span>
        <span class="suit middle_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">6</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-seven">
    <div class="card heart seven">
        <div class="corner top">
            <span class="number">7</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_left">&#9829;</span>
        <span class="suit middle_top">&#9829;</span>
        <span class="suit middle_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">7</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-eight">
    <div class="card heart eight">
        <div class="corner top">
            <span class="number">8</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_left">&#9829;</span>
        <span class="suit middle_top">&#9829;</span>
        <span class="suit middle_right">&#9829;</span>
        <span class="suit middle_bottom">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">8</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-nine">
    <div class="card heart nine">
        <div class="corner top">
            <span class="number">9</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>

        <span class="suit middle_top_left">&#9829;</span>
        <span class="suit middle_center">&#9829;</span>
        <span class="suit middle_top_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>
        <span class="suit middle_bottom_left">&#9829;</span>
        <span class="suit middle_bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">9</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-ten">
    <div class="card heart ten">
        <div class="corner top">
            <span class="number">10</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>

        <span class="suit middle_top_left">&#9829;</span>
        <span class="suit middle_top_center">&#9829;</span>
        <span class="suit middle_top_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>
        <span class="suit middle_bottom_center">&#9829;</span>
        <span class="suit middle_bottom_left">&#9829;</span>
        <span class="suit middle_bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">10</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-jack">
    <div class="card heart jack">
        <div class="corner top">
            <span class="number">J</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">J</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-queen">
    <div class="card heart queen">
        <div class="corner top">
            <span class="number">Q</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">Q</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-king">
    <div class="card heart king">
        <div class="corner top">
            <span class="number">K</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">K</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>

<template name="card-hearts-ace">
    <div class="card heart ace">
        <div class="corner top">
            <span class="number">A</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">A</span>
            <span>&#9829;</span>
        </div>
    </div>
</template>