<template name="card-hearts-2">
    <div class="card heart two" data-suit="hearts" data-value="2" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">2</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_center">&#9829;</span>
        <span class="suit bottom_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">2</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-3">
    <div class="card heart three" data-suit="hearts" data-value="3" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">3</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_center">&#9829;</span>
        <span class="suit middle_center">&#9829;</span>
        <span class="suit bottom_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">3</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-4">
    <div class="card heart four" data-suit="hearts" data-value="4" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">4</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">4</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-5">
    <div class="card heart five" data-suit="hearts" data-value="5" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">5</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_center">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">5</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-6">
    <div class="card heart six" data-suit="hearts" data-value="6" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">6</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_left">&#9829;</span>
        <span class="suit middle_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">6</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-7">
    <div class="card heart seven" data-suit="hearts" data-value="7" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">7</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_left">&#9829;</span>
        <span class="suit middle_top">&#9829;</span>
        <span class="suit middle_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">7</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-8">
    <div class="card heart eight" data-suit="hearts" data-value="8" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">8</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>
        <span class="suit middle_left">&#9829;</span>
        <span class="suit middle_top">&#9829;</span>
        <span class="suit middle_right">&#9829;</span>
        <span class="suit middle_bottom">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">8</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-9">
    <div class="card heart nine" data-suit="hearts" data-value="9" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">9</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>

        <span class="suit middle_top_left">&#9829;</span>
        <span class="suit middle_center">&#9829;</span>
        <span class="suit middle_top_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>
        <span class="suit middle_bottom_left">&#9829;</span>
        <span class="suit middle_bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">9</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-10">
    <div class="card heart ten" data-suit="hearts" data-value="10" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">10</span>
            <span>&#9829;</span>
        </div>

        <span class="suit top_left">&#9829;</span>
        <span class="suit top_right">&#9829;</span>

        <span class="suit middle_top_left">&#9829;</span>
        <span class="suit middle_top_center">&#9829;</span>
        <span class="suit middle_top_right">&#9829;</span>
        <span class="suit bottom_left">&#9829;</span>
        <span class="suit bottom_right">&#9829;</span>
        <span class="suit middle_bottom_center">&#9829;</span>
        <span class="suit middle_bottom_left">&#9829;</span>
        <span class="suit middle_bottom_right">&#9829;</span>

        <div class="corner bottom">
            <span class="number">10</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-jack">
    <div class="card heart jack" data-suit="hearts" data-value="jack" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">J</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">J</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-queen">
    <div class="card heart queen" data-suit="hearts" data-value="queen" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">Q</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">Q</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-king">
    <div class="card heart king" data-suit="hearts" data-value="king" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">K</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">K</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>

<template name="card-hearts-1">
    <div class="card heart ace" data-suit="hearts" data-value="1" data-id="{{ id }}">
        <div class="corner top">
            <span class="number">A</span>
            <span>&#9829;</span>
        </div>

        <span class="suit middle_center">&#9829;</span>

        <div class="corner bottom">
            <span class="number">A</span>
            <span>&#9829;</span>
        </div>
        {{#if cardHasModifiers}}
            <div class="card-modifiers">
            {{#each modifiers}}
                {{{ card }}}
            {{/each}}
            </div>
        {{/if}}
    </div>
</template>