@import "/client/bootstrap/less/bootstrap.lessimport";
@import "/client/bootstrap/less/responsive.lessimport";

body{
  padding-top:30px;
}

.caravans{
  .clearfix();
  margin:30px 0;

  .caravan{
    float:left;
    width:32.99%;
    text-align: center;
    position: relative;

    .player-1-value,
    .player-2-value{
      font-size:30px;
      line-height:1;
    }

    .player-1-value{
      padding-bottom:20px;
      margin-bottom:20px;
      border-bottom:4px solid @gray;
    }
    .player-2-value{

    }

    &-cards{
      .clearfix();
      position:relative;
      height:200px;

      .card{
        position:absolute;
        bottom:0;
        left:0;
        .scale(0.5);

        &:nth-child(1n+1){
          bottom:20px;
          left:20px;
        }
        &:nth-child(1n+2){
          bottom:40px;
          left:15px;
        }
        &:nth-child(1n+3){
          bottom:60px;
          left:30px;
        }
        &:nth-child(1n+4){
          bottom:80px;
          left:25px;
        }
        &:nth-child(1n+5){
          bottom:100px;
          left:20px;
        }
        &:nth-child(1n+6){
          bottom:120px;
          left:15px;
        }
      }

    }
  }
}

.card{
  cursor:pointer;

  &.active{
    background-color:green;
  }
}