@import "/client/bootstrap/less/bootstrap.lessimport";
@import "/client/bootstrap/less/responsive.lessimport";

body{
  padding-top:60px;
}

#match{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:url('/images/04_minimalist_dark_texture.jpg');
  background-size:cover;
  color:#fff;
  overflow:hidden;
}

.match-details{
  position: absolute;
  top: 60px;
  left: 3vw;
}

#gameboard{

}

#deck{
  position:absolute;
  bottom:-6vh;
  left:0;
  width:100%;
  text-align:center;
}

@cardSizeRatio: 2;

.caravans{
  .clearfix();

  .caravan{
    float:left;
    width:32.99%;
    text-align: center;
    position: relative;

    &-label{
      font-size:16px;
      line-height:1;
      color:rgba(233, 233, 233, 1);
      padding: 0.5vh 0;
    }

    .caravan-label-top{
      padding-top:2vh;
    }
    .caravan-label-bottom{
      padding-bottom:2vh;
    }

    .player-1-value,
    .player-2-value{
      color: rgb(255, 165, 0);
      text-shadow: 0 0 3px rgb(173, 112, 0);
      font-weight:bold;

      &.oversold{
        color:#FF3300;
        text-shadow:0 0 3px #AD0000;
      }
    }


    @stackPadding: 4vh;
    @stackPaddingHorizontal: 3vh;
    &-cards{
      .clearfix();
      position:relative;
      height: 44vh;

      .card{
        position:absolute;
        bottom:0;
        margin-left:((23vh / @cardSizeRatio) / 2) * -1;

        -webkit-transition: -webkit-transform 1s;
        -moz-transition: -moz-transform 1s;
        transition: transform 1s;


        &:nth-child(1n+2){
          bottom:@stackPadding;
        }
        &:nth-child(1n+3){
          bottom:@stackPadding * 2;
        }
        &:nth-child(1n+4){
          bottom:@stackPadding * 3;
        }
        &:nth-child(1n+5){
          bottom:@stackPadding * 4;
        }
        &:nth-child(1n+6){
          bottom:@stackPadding * 5;
        }
        &:nth-child(1n+7){
          bottom:@stackPadding * 6;
        }
        &:nth-child(1n+8){
          bottom:@stackPadding * 7;
        }
        &:nth-child(1n+9){
          bottom:@stackPadding * 8;
        }
        &:nth-child(1n+10){
          bottom:@stackPadding * 9;
        }
        &:nth-child(1n+11){
          bottom:@stackPadding * 10;
        }


        .card-modifiers{
          top: 0;
          margin: 0;
          bottom: 0;
          position:absolute;

          .card{
            top:0 !important;
            bottom:auto;
            left:@stackPaddingHorizontal * -1;
            margin:0;

            &:nth-child(1n+2){
              left:@stackPaddingHorizontal * 2 * -1;
            }
            &:nth-child(1n+3){
              left:@stackPaddingHorizontal * 3 * -1;
            }
            &:nth-child(1n+4){
              left:@stackPaddingHorizontal * 4 * -1;
            }
            &:nth-child(1n+5){
              left:@stackPaddingHorizontal * 5 * -1;
            }
            &:nth-child(1n+6){
              left:@stackPaddingHorizontal * 6 * -1;
            }
            &:nth-child(1n+7){
              left:@stackPaddingHorizontal * 7 * -1;
            }
            &:nth-child(1n+8){
              left:@stackPaddingHorizontal * 8 * -1;
            }
            &:nth-child(1n+9){
              left:@stackPaddingHorizontal * 9 * -1;
            }
            &:nth-child(1n+10){
              left:@stackPaddingHorizontal * 10 * -1;
            }
            &:nth-child(1n+11){
              left:@stackPaddingHorizontal * 11 * -1;
            }
          }
        }

      }

    }

    .player-2-cards{
      .card{
        bottom:auto;
        top:0;

        &:nth-child(1n+2){
          top:@stackPadding;
        }
        &:nth-child(1n+3){
          top:@stackPadding * 2;
        }
        &:nth-child(1n+4){
          top:@stackPadding * 3;
        }
        &:nth-child(1n+5){
          top:@stackPadding * 4;
        }
        &:nth-child(1n+6){
          top:@stackPadding * 5;
        }
        &:nth-child(1n+7){
          top:@stackPadding * 6;
        }
        &:nth-child(1n+8){
          top:@stackPadding * 7;
        }
        &:nth-child(1n+9){
          top:@stackPadding * 8;
        }
        &:nth-child(1n+10){
          top:@stackPadding * 9;
        }
        &:nth-child(1n+11){
          top:@stackPadding * 10;
        }

        .card-modifiers{
          .card{
            left:@stackPaddingHorizontal;

            &:nth-child(1n+2){
              left:@stackPaddingHorizontal * 2;
            }
            &:nth-child(1n+3){
              left:@stackPaddingHorizontal * 3;
            }
            &:nth-child(1n+4){
              left:@stackPaddingHorizontal * 4;
            }
            &:nth-child(1n+5){
              left:@stackPaddingHorizontal * 5;
            }
            &:nth-child(1n+6){
              left:@stackPaddingHorizontal * 6;
            }
            &:nth-child(1n+7){
              left:@stackPaddingHorizontal * 7;
            }
            &:nth-child(1n+8){
              left:@stackPaddingHorizontal * 8;
            }
            &:nth-child(1n+9){
              left:@stackPaddingHorizontal * 9;
            }
            &:nth-child(1n+10){
              left:@stackPaddingHorizontal * 10;
            }
            &:nth-child(1n+11){
              left:@stackPaddingHorizontal * 11;
            }
          }
        }
      }
    }
  }
}


.card{
  color:#000;
  cursor:pointer;
  .box-shadow(~"0 0 3px rgba(0,0,0,0.5)");
  .border-radius(6px);
  display:inline-block;
  float:none;
  margin:0;

  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;

  width: 23vh / @cardSizeRatio;
  height: 32.4vh / @cardSizeRatio;

  .suit{
    font-size:7.5vh / @cardSizeRatio;
    height: auto;
    line-height: 7vh / @cardSizeRatio;
    width: 3.5vh;
  }

  &.ten .corner .number{
    font-size:3.6vh / @cardSizeRatio;
  }
  .corner{
    &.top{
      top: 1.3vh / @cardSizeRatio;
      left: 1vh / @cardSizeRatio;
      overflow:visible;
    }
    &.bottom{
      bottom: 1.3vh / @cardSizeRatio;
      right: 1vh / @cardSizeRatio;
      .rotate(180deg);
      overflow:visible;
    }
    .number{
      font-size:3.6vh / @cardSizeRatio;
      line-height: 1;
      height: auto;
    }
    span{
      font-size:3vh / @cardSizeRatio;
    }
  }

  .top_left,
  .middle_left,
  .bottom_left,
  .middle_bottom_left,
  .middle_top_left{
    left: 3.6vh / @cardSizeRatio;
  }

  .top_right,
  .middle_right,
  .bottom_right,
  .middle_bottom_right,
  .middle_top_right{
    right: 3.6vh / @cardSizeRatio;
  }

  .middle_top_left,
  .middle_top_right{
    top: 8.8vh / @cardSizeRatio;
  }

  .middle_bottom_left,
  .middle_bottom_right{
    bottom:8.8vh / @cardSizeRatio;
  }

  .top_center,
  .top_left,
  .top_right{
    top: 2.8vh / @cardSizeRatio;
  }

  .top_center,
  .middle_center,
  .bottom_center,
  .middle_top,
  .middle_bottom,
  .middle_bottom_center,
  .middle_top_center{
    left:50%;
    margin-left:(3.5vh / 2) * -1;
  }
  .middle_top{
    top:8vh / @cardSizeRatio;
  }
  .middle_top_center{
    top:6.4vh / @cardSizeRatio;
  }
  .middle_bottom_center{
    bottom:6.4vh / @cardSizeRatio;
  }

  .middle_center,
  .middle_left,
  .middle_right{
    top:12.5vh / @cardSizeRatio;
  }


  .middle_bottom{
    bottom:7vh / @cardSizeRatio;
  }
  .bottom_center,
  .bottom_left,
  .bottom_right{
    bottom:2.7vh / @cardSizeRatio;
  }

  .middle_bottom,
  .bottom_center,
  .bottom_left,
  .bottom_right{
    .rotate(180deg);
  }



  &.active{
    .translate3d(0, -20px, 0);
  }
}

.player-1-cards .card.slideIn{
  .translate3d(0, -350%, 0);
}
.player-2-cards .card.slideIn{
  .translate3d(0, 350%, 0);
}


#deck .card{
  margin-right:0.5vw;

  &:last-child{
    margin-right:0;
  }
}

.card-marker,
.card.show-marker:after{
  background: rgba(34, 213, 0, 0.51);
  box-shadow: none;
  -webkit-box-shadow: none;
  border:0;
}

.marker-stack{
  opacity:0;
}
.marker-stack:hover{
  opacity:1;
}

.card.show-marker:after{
  position:absolute;
  top:0;
  left:3vh;
  width:100%;
  height:100%;
  content:'';
  .border-radius(6px);
}

.match-winner{
  font-size: 10vh;
  position: absolute;
  top: 28vh;
  width: 100%;
  text-align: center;
  z-index: 5000;
  color: #ffa500;
  text-shadow: 0 0 6px #ad7000;
}