<template name="about">
    <div class="rte">
        <h1 class="text-center">What is Caravan?</h1>

        <p>
            Caravan is a card game developed by Obsidian Entertainment for the video game
            <a href="http://fallout.bethsoft.com/" target="_blank" class="external">Fallout: New Vegas</a>. We're big fans, so we built a browser-based multiplayer
            version. Enjoy!
        </p>

        <br>

        <h3 class="text-center">Built with Meteor</h3>
        <p>
            Meteor is an <strong>amazing</strong> framework for building interactive web apps. You can read more about it at <a class="external" href="http://www.meteor.com/" target="_blank">meteor.com</a>.
        </p>
        <p>
            If you're interested in contributing, or just want to see how it's built, the source is available on <a href="https://github.com/abecks/meteor-caravan" target="_blank" class="external">GitHub</a>.
        </p>
        <br>
        <h4 class="text-center">By <a href="http://twitter.com/staringatlights" target="_blank" class="external">@staringatlights</a></h4>


    </div>

</template>