<template name="how-to-play">
    <div class="rte">
        <h1 class="text-center">How to Play</h1>

        <br>
        <p class="text-center">
            <i>These are <a href="http://www.pagat.com/invented/caravan.html" target="_blank" class="external">Joe Foxon's Caravan rules.</a></i>
        </p>

        <br>
        <h3 class="text-center">The Deal</h3>
        <p>
            Each player takes the top eight cards from their shuffled deck to form a hand of cards, and stacks the rest to one side face down. These cards will be used later in the game. From their eight cards they each select three numbered (A-10) cards and place them face up, side by side, to start three 'caravans':
        </p>

        <p>
            If a player does not have three number cards to play, they show their hand, reshuffle their deck and take eight new cards.
        </p>

        <p>
            Throughout the game, each of Player A's caravans is compared with Player B's corresponding caravan (1 against 1, 2 against 2, 3 against 3).
        </p>

        <br>
        <br>
        <h3 class="text-center">Playing the game</h3>

        <p>
            The first player places any card from hand onto any of their own caravans, but may not play a card of the same rank as the card it is being played on. If this card is higher than the card it is played on, the sequence for that caravan is <strong>ascending</strong>; if it is lower it is <strong>descending</strong>. Picture cards have special effects, described below. After playing a card they take another one from the top their deck to replace it, so that they always begin and end their turn with a hand of five cards. Then the second player plays a card on their own caravan in the same way.
        </p>

        <p>
            After this, players play alternately. At your turn you must do one of the following things:
        </p>

        <ol>
            <li>
                Add a card to one of your caravans, face up. The card you add may be:
                <ul>
                    <li>A number card of a different number and suit from the previous top number card of the caravan. This card must be placed on top of the caravan and must conform to the sequence direction (ascending or descending) for that caravan.</li>
                    <li><strong>Any</strong> number card of the <strong>same suit</strong> as the top number card of the caravan. This card must be placed on top of the caravan, and if the card is contrary to the current direction of the caravan it establishes a new direction for the caravan.</li>
                    <li>Any picture card, as described below. Queens are placed on top of the caravan, but kings, jacks and jokers may be inserted anywhere within a caravan.</li>
                </ul>
            </li>
            <li>Discard one card from their hand to your discard pile.</li>
            <li>Destroy one of their caravans, adding all its cards to your discard pile, and play a card from hand in the space to start a new caravan.</li>
        </ol>

        <p>Having played or discarded a card, you always end your turn by drawing the top card of your deck to restore your hand to five cards.</p>

        <p>If you run out of cards to draw from your deck, you shuffle the cards in your discard pile to form a new deck to draw from.</p>



        <br>
        <br>
        <h3 class="text-center">Special Cards</h3>
        <p><strong>Aces</strong> are low, and count as ordinary number cards worth 1.</p>
        <p><strong>Jacks, Kings and Jokers</strong> do not have to be played on the top of a caravan: they may be placed on top of any card within a caravan.</p>
        <p>A <strong>Jack</strong> removes the card immediately below it from the caravan: both cards are added to the player's discard pile.</p>
        <p>A <strong>Joker</strong> removes the card immediately below it <strong>and all other cards of the same rank</strong> from <strong>both</strong> players' caravans. If Jokers are not used, then Jacks have this function.</p>
        <p>A <strong>Queen</strong> reverses the order that cards are to be played in the caravan, so a descending sequence becomes an ascending sequence and vice versa.</p>
        <p>A <strong>King</strong> takes on the point value of the card immediately below it. For example, a King placed on a 7 doubles its value to 14. If another King is played on it, the three cards are worth 21, and so on.</p>



        <br>
        <br>
        <h3 class="text-center">End of the game</h3>
        <p>A caravan can be <strong>sold</strong> when it has a value of at least 21 and not more than 26, <strong>and</strong> the opposing caravan either has a lower value or has a value greater than 26.</p>
        <p>As soon as three caravans can be sold (one from each poisiton), the game ends, and the player who sells two or more caravans is the winner.</p>
        <p>Note that you may continue to play on a caravan that can be sold to improve its value. You may even destroy it, if you think it is in your interest.</p>
        <p>Note also that a caravan of value 26 cannot be beaten: it can always be sold unless the opposing caravan also has a value of 26, in which case neither caravan is sold until the value of the other is changed.</p>

    </div>

</template>