<template name="index">

    <div class="text-center">
        <img src="/images/Caravan_Master.png" alt="Caravan Master">

        <div class="rte">
            <h1>Welcome to Caravan</h1>
            <p>
                This is a project to bring the Fallout: New Vegas Caravan card game to the web.
            </p>
        </div>

        <div>
            <a href="/how-to-play" class="btn btn-large">Learn how to play</a>
            &nbsp;
            {{#if currentUser}}
                <button id="join-game" class="btn btn-large btn-primary">Find an opponent</button>
                &nbsp;
                <button id="create-game" class="btn btn-large">Create a private match</button>
            {{ else }}
                <a href="/register" class="btn btn-large btn-success">Register</a>
                &nbsp;
                <a href="/login" class="btn btn-large btn-success">Log in</a>
            {{/if}}
        </div>
    </div>

</template>