<template name="match">

    {{#if matchLoaded}}

        <h1>Match #{{ matchId }}</h1>

        Player 1: {{ match.player1 }}
        <br>
        Player 2: {{ match.player2 }}
        <br>
        Created: {{ match.created }}
        <br>
        Turn: {{ match.turn }}
        <br>
        {{ matchVisibility }}

        {{#constant}}
        <div class="caravans">
        {{#each match.caravans}}
            {{> caravan}}
        {{/each}}
        </div>
        {{/constant}}

        {{{ deck }}}

    {{else}}
        <h1>Loading...</h1>
    {{/if }}

</template>