<template name="match">

    <div id="match">
    {{#if matchLoaded}}

        {{#if match.winner}}
            <div class="match-winner">{{ winnerName }} Wins!</div>
        {{/if}}



        {{#constant}}
        <div id="gameboard" class="caravans">
        {{#each match.caravans}}
            {{> caravan}}
        {{/each}}
        </div>
        {{/constant}}

        {{{ deck }}}

    {{else}}
        <h1>Loading...</h1>
    {{/if }}
    </div>

    <div id="sidebar">

        {{#if matchLoaded}}
        <div class="match-details">

            <div class="match-details-players">
                {{ match.player1 }}
                <div class="versus">vs</div>
                {{ match.player2 }}
            </div>

            Turn: {{ match.turn }}
            <br>
            {{ matchVisibility }}
        </div>
        {{/if }}

        {{> chat}}

    </div>

</template>