<template name="match">

    <div id="match">
    {{#if matchLoaded}}

        {{#if match.winner}}
            <div class="match-winner">{{ winnerName }} Wins!</div>
        {{/if}}

        <div class="match-details container">
            Player 1: {{ match.player1 }}
            <br>
            Player 2: {{ match.player2 }}
            <br>
            Created: {{ match.created }}
            <br>
            Turn: {{ match.turn }}
            <br>
            {{ matchVisibility }}
        </div>

        {{#constant}}
        <div id="gameboard" class="caravans">
        {{#each match.caravans}}
            {{> caravan}}
        {{/each}}
        </div>
        {{/constant}}

        {{{ deck }}}

    {{else}}
        <h1>Loading...</h1>
    {{/if }}
    </div>

</template>