<template name="mainmenu">
    <div id="main-menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><img src="/images/logo.png" alt="Caravan"></a>
                <ul class="nav">
                    <li><a href="/" class="internal">Home</a></li>
                    <li><a href="/how-to-play">How to Play</a></li>
                    <li><a href="/leaderboard">Leaderboard</a></li>
                    <li><a href="/about">About</a></li>

                    {{#if isAdmin }}
                    <li><a href="/games">Games</a></li>
                    {{/if}}
                </ul>

                <ul class="nav pull-right">

                    {{#if showAuthControls}}
                        <li class="pull-right"><a href="/login">Login</a></li>
                        <li class="pull-right"><a href="/register">Register</a></li>
                    {{/if}}

                    {{#if showLogout}}
                        <li class="pull-right"><a href="/logout" class="logout">Logout</a></li>
                    {{/if}} 
                </ul>
            </div>
        </div>
    </div>
</template>