<template name="mainmenu">
    <div id="main-menu" class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Caravan</a>
                <ul class="nav">
                    <li><a href="/" class="internal">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/cards">Cards</a></li>

                    {{#if isAdmin }}
                    <li><a href="/games">Games</a></li>
                    {{/if}}
                </ul>

                <ul class="nav pull-right">
                    {{#if currentUser}}
                    <li class="pull-right"><a href="/logout" class="logout">Logout</a></li>
                    {{else}}
                    <li class="pull-right"><a href="/login">Login</a></li>
                    <li class="pull-right"><a href="/register">Register</a></li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</template>