<template name="games">

    <h1>Games In Progress</h1>
    <table class="table table-bordered table-striped" id="games">
        <thead>
        <tr>
            <th>Id</th>
            <th>Public</th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        {{#each games}}
        <tr>
            <td>{{_id}}</td>
            <td>{{public}}</td>
            <td>{{player1}}<br>{{player1_polltime}}</td>
            <td>{{player2}}<br>{{player2_polltime}}</td>
            <td>{{created}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <button id="delete-games" class="btn btn-large btn-danger">Delete all games</button>
</template>