<template name="caravan">

    <div class="caravan">


        <div class="player-1-cards caravan-cards">
            {{#each player1.cards}}
                {{{ cardWithModifiers }}}
            {{/each}}
        </div>


        <div class="caravan-label caravan-label-top">
            <span class="player-1-value {{ oversold player1.value }}">{{ player1.value }}</span>
            {{ from }}
        </div>

        <div class="caravan-label caravan-label-bottom">
            <span class="player-2-value  {{ oversold player2.value }}">{{ player2.value }}</span>
            {{ to }}
        </div>


        <div class="player-2-cards caravan-cards">
            {{#each player2.cards}}
                {{{ cardWithModifiers }}}
            {{/each}}
        </div>
    </div>

</template>