<template name="caravan">

    <div class="caravan">
        <div class="player-1-cards caravan-cards">
            {{#each player1.cards}}
                {{{ card }}}
            {{/each}}
        </div>

        <div class="caravan-label">
            <span class="player-1-value">{{ player1.value }}</span>
            {{ from }}
        </div>

        <div class="caravan-label">
            <span class="player-2-value">{{ player2.value }}</span>
            {{ to }}
        </div>


        <div class="player-2-cards caravan-cards">
            {{#each player2.cards}}
                {{{ card }}}
            {{/each}}
        </div>
    </div>

</template>