<template name="caravan">

    <div class="caravan">

        <div class="caravan-top-cards caravan-cards {{ playerClass 'top' 'cards' }} {{ setup 'top' this }}">
            {{#each topCards this}}
                {{{ cardWithModifiers }}}
            {{/each}}

        </div>


        <div class="caravan-label caravan-label-top">
            <span class="{{ playerClass 'top' 'value'}} {{ oversold 'top' this }}">{{ topValue }}</span>
            {{ from }}
        </div>

        <div class="caravan-label caravan-label-bottom">
            <span class="{{ playerClass 'bottom' 'value'}}  {{ oversold 'bottom' this }}">{{ bottomValue }}</span>
            {{ to }}
        </div>


        <div class="caravan-bottom-cards caravan-cards {{ playerClass 'bottom' 'cards' }} {{setup 'bottom' this }}">
            {{#each bottomCards this}}
                {{{ cardWithModifiers }}}
            {{/each}}
        </div>
    </div>

</template>